.Analytics {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;

  &__container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__cashier-data {
    padding-left: 20px;

    &-section {
      padding-left: 20px;
    }
  }

  &__settings-panel {
    width: 460px;
  }
}