.Notifications {
  position: fixed;
  bottom: 0;
  left: 10px;
  z-index: 3000;

  &__notification-container {
    margin-bottom: 10px;
  }

  &__clear-button-container {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
  }

  &__clear-button-text {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
}