.ReservationForm {
  &__certificates {
    position: relative;
    margin-bottom: 30px!important;
    &-controls {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;

      & > a {
        color: #007aff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}