.ScheduleToolbar {
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__create-btn {
    background-color: #fff!important;
    color: #333!important;
    box-shadow: none!important;
    text-transform: none!important;

    &:hover {
      background-color: #fff!important;
      color: #333!important;
    }
  }
}