.CustomerCard {
  max-width: 1000px!important;
  position: relative;

  &__changes-btn {
    position: absolute!important;
    right: 10px;
    top: 10px;
  }

  &__edit-btn {
    cursor: pointer;
    font-size: 12px;
    color: #7e7e83;
    margin: 0;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }

  &__comment-btn {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__user-avatar {
    img {
      width: 240px;
    }
  }

  &__content {
    &-container {
      width: 700px;
      position: relative;
    }

    display: flex;
  }

  &__customer-data {
    flex-grow: 1;
    margin-left: 130px;

    &-element {
      margin-bottom: 5px;

      &-title {
        font-size: 12px;
        color: #7e7e83;
        font-weight: 500;
      }

      &-value {
        font-size: 14px;
        color: #333;
      }
    }
  }

  &__comments {
    margin-top: 5px;

    &-content {
      max-height: 300px;
      overflow: auto;
    }
  }

  &__comment {
    margin-top: 5px;

    &-info {
      font-size: 12px;
      color: #7e7e83;
    }

    &-text {
      font-size: 14px;
      color: #333;
      margin-bottom: 5px;
    }
  }
}