.CustomerCard {
  max-width: 1000px!important;

  &__user-avatar {
    img {
      width: 240px;
    }
  }

  &__content {
    &-container {
      width: 700px;
      position: relative;
    }

    display: flex;
  }

  &__customer-data {
    flex-grow: 1;
    margin-left: 130px;

    &-element {
      margin-bottom: 5px;

      &-title {
        font-size: 12px;
        color: #7e7e83;
        font-weight: 500;
      }

      &-value {
        font-size: 14px;
        color: #333;
      }
    }
  }


  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-item {
      margin-left: 10px;
    }
  }
}