.Schedule {
  &__reservation {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__reservation-form {
    width: 460px;
  }

  &__search-panel {
    width: 400px;
  }

  &__reservation-transaction-window-info {

    &-text {
      margin: 0;
      color: #7e7e83;
      font-size: 14px;

      &_bolded {
        font-weight: 500;
      }
    }
  }
}