.CheckoutsSection {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checkouts {
    display: flex;
    & > * {
      width: 50%;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}