.Notification {
  width: 400px;
  padding: 16px;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);;
  position: relative;
  background-color: #fff;

  &::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px 0 0 4px;
    width: 4px;
    left: 0;
    top: 0;
    height: 100%;
  }

  &_success {
    &::before {
      background: #27c177;
    }
  }

  &_error {
    &::before {
      background: #e31235;
    }
  }

  &_info {
    &::before {
      background: #007aff;
    }
  }

  &_warning {
    &::before {
      background: #f28419;
    }
  }

  &__header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-controls {
      display: flex;
    }
  }

  &__title {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #333;
    margin: 0;
  }

  &__close-button {
    color: #9e9e9e;
    cursor: pointer;
    margin-left: 10px;
  }

  &__body {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    margin: 0;
  }
}
